.block--custom-layout__hero {
    font-size: 0;
    font-family: $mainFont;
    line-height: 1;
    .hero-video {
        position: relative;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover !important;
            min-height: 100vh !important;

            @media(max-width: $bp_mobile){
                min-height: 579px !important;
                height: 579px !important;
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .4);
        }
    }

    .heros-slide-wrap {
        position: absolute;
        bottom: 46px;
        width: 100%;

        @media(max-width: $bp_tabletPortrait3){
            display: none;
        }

        .hero-logo-slide {
            padding: 0 16px;
        }

        .hero-logo-slide-inner {
            max-width: 1368px;
            margin: 0 auto;

            .slick-track {
                display: flex;
                align-items: center;

                .hero-logo-slide-item {
                    padding: 0 30px;

                    img {
                        margin: 0 auto;
                        display: block;
                        opacity: .1;
                    }
                }
            }
        }
    }

    .hero-inner {
        position: relative;

        .hero-content {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;

            .hero-content-inner {
                max-width: 766px;
                margin: 0 auto;

                @media(max-width: $bp_mobile){
                    max-width: 204px;
                }
            }

            .hero-content-desc {
                max-width: 766px;
                margin: 0 auto;
                margin-top: 18px;

                @media(max-width: $bp_mobileLandscape){
                    max-width: 343px;
                }
            }

            h1 {
                max-width: 100%;
                width: 100%;
                margin: 0;

                @media(max-width: $bp_mobileLandscape){
                    font-size: 56px;
                    line-height: 64px;
                }
            }

            p {
                margin: 0 !important;
                width: 100%;
                max-width: 100%;
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 300;
                line-height: 30px;
                color: #fff;

                @media(max-width: $bp_mobileLandscape){
                    font-size: 18px;
                }
            }
        }
    }

    .hero-content-inner  {
        h1 {
            text-align: center;
            font-size: 100px;
            font-style: normal;
            font-weight: 300;
            line-height: 100px;
            color: #fff;

            span {
                color: $buttonColor;
                display: block;
            }
        }
    }
}