/* Colors */
    $colorScheme : (
        // Color scheme 1
        (#032C1F, #223628, #FFF620, #000000),
        // Color scheme 2
        (#002755, #FFFFFF, #000000)
    );
    // set active color scheme
    $activeColorScheme : 1;
    $darkColor : #000000;
    $buttonColor: #FFF620;
    $lightColor : #FFFFFF;
    $canvasBackground: #FFFFFF;
    $errorColor: #e21010;
    $successColor: #204535;
    $maskColor : #000000;
    $maskOpacity : 0.8;

/* Typography */
    $fontScheme : (
        // Font scheme 1
        ('mrs-eaves-xl-serif', 'proxima-nova', 'mrs-eaves-xl-serif-narrow'),
        // Font scheme 2
        ('Roboto')
    );
    // set active font scheme
    $activeFontScheme : 1;
    // default typography config
    $fallbackFont : serif;
    $mainFont: 'Sailec', sans-serif;
    $defaultFontSize : 14px;
    $defaultLineHeight : 14px;

/* Measurements */
    $pageMaxWidth : 100%;
    $containerMaxWidth: 1440px;
    $contentMaxWidth: 100%;

    // Gutters
    $gutter : 20px;
    $gutterThin : 10px;
    $gutterMedium : 30px;
    $gutterDivider : 40px;
    $gutterWide : 50px;
    $gutterWider : 60px;
    $gutterProp : 5%;

    // Breakpoints
    $bp_desktop : 1640px;
    $bp_desktopMedium : 1440px;
    $bp_desktopSmall : 1278px;
    $bp_mobileMenuShift : 1199px;
    $bp_tabletLandscape : 1024px;
    $bp_tabletPortrait3 : 991px;
    $bp_tabletPortrait2 : 880px;
    $bp_tabletPortrait : 820px;
    $bp_mobileLandscape : 767px;
    $bp_mobile : 480px;
    $bp_mobileMedium : 415px;
    $bp_mobileSmall : 320px;

/* CSS Easings */
    $easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
    $easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    $easeInOutExpo: cubic-bezier(1, 0, 0, 1);